@import "_variables.scss";

.tool-button {
	background: $main-color;
    color: #fff;

    height: 60px;
    width: 380px;
    font-weight: 700;
    margin: 25px;
    font-size: 25px;
    border-radius: 10px;
	&--disabled {
		background: $color-background-secondary;
	}
}