$color-background-main: hsl(0, 0%, 100%);
$color-background-shadow: #efefef;
$color-background-secondary: #d8d8d8;
$color-background-black-transparent: #00000054;
$main-color: #2f455c;

$font-size-big: 18px;
